html, body {
    color: blue;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 360px;
}

#inputField {
   grid-row: span
calc()
    border-width: 0;
   image-rendering: auto;
    font-size: 25px;
    vertical-align: middle;
}

#addToDo {
   color: beige;
 background-repeat: repeat-y; 
 vertical-align: text-bottom;
    vertical-align: middle;
    font-size: 30px;
}

.paragraph-styling {
    margin: 0;
     nikhel
     neha 
     rahul

     
    toDoContainer.appendChild
    inputField.value = "";
    paragraph.addEventListener('click', function(){
        paragraph.style